body{
	margin: 0;
	padding: 0;
}

#board {
	height: 600px;
}

.packer {
	margin: 0;
	padding: 0;
	border-radius: 0;
}

#main_content{
	margin-top: 50px;
}

#left_div{
	padding: 10px;
	height: 600px;
    background: orange;
    width: 15%;
    float: left;
}

#middle_div{
	padding: 20px;
    float: left;
	height: 600px;
    background: green;
    width: 70%;	
}

#right_div{
	padding: 10px;
	float: left;	
	height: 600px;
    background: blue;
    width: 15%;
}

#l1{
	display: inline-block;
	background: #eee;	
	margin-top: 20px;
	width: 100%;
	height: 70px;
	margin: 0 auto;
}

#l2{
	display: inline-block;
	background: #eee;
	margin-top: 20px;
	height: 70px;
	width: 100%;
	margin: 0 auto;
}

#l3{
	display: inline-block;
	background: #eee;
	margin-top: 20px;
	height: 70px;
	width: 100%;
	margin: 0 auto;
}

#main_input{
	height: 350px;
	width: 100%;
	background: #fff;
}

#list{
	margin-top: 25px;
	height: 150px;
	width: 100%;
	background: #fff;
}