/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 

/* end reset browser styles */

body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;	
}


header{
	background: #00c0ff;
	height: 74px;
}

footer{
	position: absolute;
	width: 100%;
	height: 50px;
	top: 624px;
	background: #111;
}

#main{
	height: 600px;
	background: #F1FFEC;
}

#icon{
	width: 70px;
	height: 50px;
	background: #8eeafb;
	position: relative;
	left: 30px;
	top: 10px;
}

#text1{
	width: 100%;
	display: inline-block;
	text-align: center;
	margin-top: 200px;
	font-size: 60px;
}

#text2{
	width: 100%;
	display: inline-block;
	text-align: center;
	font-size: 25px;
	margin-top: 20px;
	margin-bottom: 40px;
}

#button_div{
	text-align: center;
}

#icon{
	width: 70px;
	height: 50px;
	background: #A7B2B4;
	position: absolute;
}

#t1{
	width: 48%;
	float: left;
}

#t2{
	float: left;
	width: 48%;
}

#login{
	font-size: 20px;
	padding: 10px;
	width: 260px;
}

#signup{
	font-size: 20px;
	padding: 10px;
	width: 260px;
}

.clear:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

@media (max-width: 563px) {
		#login{
			font-size: 20px;
		padding: 10px;
		width: 260px;
		margin: 14px;
		}

		#t1{
			display: inline-block;
		width: 100%;
	}

	#t2{
		display: inline-block;
		width: 100%;
	}

}