<!DOCTYPE html>
<html>
<head>
	<title>Diet Tracker</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/main.css" type="text/css" rel="stylesheet">

	<!-- <link href="css/font-awesome.min.css" rel="stylesheet"> -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet"> -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Abel|Open+Sans+Condensed:300" rel="stylesheet"> -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet"> -->

	<style type="text/css">
		@font-face
		{
			font-family: 'Abel';
    		src: url('fonts/AbelRegular.ttf');
		}

		@font-face
		{
			font-family: 'Open Sans Condensed';
    		src: url('fonts/OpenSansCond.ttf');
		}

		@font-face
		{
			font-family: 'Poiret One';
    		src: url('fonts/PoiretOneRegular.ttf');
		}
		
	</style>

	<script src="/js/jquery.min.js" rel="stylesheet"> </script>
	<script src="/js/bootstrap.min.js" rel="stylesheet"> </script>

	<script type="text/javascript">
		var i = 0;
		
		$(function() {
    $('a[href*="#"]:not([href="#"])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html, body').animate({
            scrollTop: target.offset().top
          }, 850);
          return false;
        }
      }
    });
  });

		function image_slider()
		{
			var arr = ["/images/1.jpg", "/images/2.jpg", 
			"/images/3.jpg","/images/4.jpg", "/images/5.jpg", "/images/6.jpg"];
			var len = arr.length;

			var b = document.getElementById("contain");
			b.style.backgroundImage = "url("+arr[i]+")";
			i = (i+1) % len;
			setTimeout(image_slider, 4000);
		}

		function popUpSignUp(){
			var Div = document.getElementById("signUpPop").style.display = "block";
			document.getElementById("dark").style.visibility = "visible";
		}

		function popDownSignUp(){
			var Div = document.getElementById("signUpPop").style.display = "none";
			document.getElementById("dark").style.visibility = "hidden";
		}

		function popUpLogin(){
			var Div = document.getElementById("loginPop").style.display = "block";
			document.getElementById("dark").style.visibility = "visible";
		}

		function popDownLogin(){
			var Div = document.getElementById("loginPop").style.display = "none";
			document.getElementById("dark").style.visibility = "hidden";
		}
	</script>
</head>
<body onload="image_slider()">

<div id="loading_div">
	
	<div id="floating_div">
		<img src="/images/apple.gif" class="gif_image">
		<img src="/images/peach.gif" class="gif_image">
		<img src="/images/banana.gif" class="gif_image">
		<img src="/images/orange.gif" class="gif_image">
		<img src="/images/pear.gif" class="gif_image">
		<span id="quotes">Getting your food gym ready...</span>

	</div>

</div>

	<div id="contain" class="container-fluid">

		<div class="bg-overlay">

			<div id="dark">					
			</div>

			<div id="loginPop">
			
				<div class="close">

					<button onclick="popDownLogin()" type="button" class="btn btn-default btn-sm alignment" >
			        	<span><img src="/icons/cross.png" class="alignment"></span>
			        </button>
			    </div>

		        <div class="Form">
			   		<form action = "/signin" method = "POST"  name = "signinform">
						Email<br>
						<input type="text" name="email" placeholder="Email" >
						<br><br>
						Password<br>
						<input type="password" name="pass" placeholder="Password">
						<br><br>
						<input type="submit" value="Login">
					</form>
				</div> 

			</div>

			<div id="signUpPop">
			
				<div class="close">

					<button onclick="popDownSignUp()" type="button" class="btn btn-default btn-sm alignment" >
			        	<span><img src="/icons/cross.png" class="alignment"></span>
			        </button>
		        </div>

		        <div class="Form">
					Email<br>
					<form action = "signup" method = "POST" name = "signupform">
				 		<input type="text" name="email" placeholder="Email" >
				 		<br><br>
				  		Password<br>
				  		<input type="password" name="pass" placeholder="Password">
				  		<br><br>
				  		<input type="submit" value="Sign Up">
				  	</form>
			 	</div> 

			</div>

			<nav id="top-bar" class="nav navbar-inverse navbar-fixed-top">
				 <div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">Diet Tracker</a>
					</div>
					<div class="collapse navbar-collapse" id="myNavbar">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#top" >Home</a></li>
							<li><a href="#About" >About</a></li>
							<li><a  href="#Contact">Contact</a></li>
						</ul>
					</div>
				</div>
			</nav>
				<div id="top"></div>
			<a name="home"></a>

			<div id="intr" class="intro">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<div class="intro-message">
								<h1>Diet Tracker</h1>
								<h3>Let's track your diet!</h3>
								<hr/>
								<ul class="list-inline">
									<li><button onclick="popUpLogin()" class="butn" style="padding-left:19px; padding-right: 19px;"><img class="icon" src="/icons/login2.png" />Login</a></li>
									<li><button onclick="popUpSignUp()" class="butn"><img class="icon" src="/icons/signup2.png" />SignUp</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

	<div id="About" class="about alignAbout">
		<h1><b>About Us</b></h1>

		<span class="Font"> This Web App is made in order to track Your Diet. You can add your daily meal to this app and it will take care of storing the details of your daily meal. In addition to this, this web-app is meant to give you some fruit-ful suggestions regarding your health.<br>
		<i> "Go Healthy, Be Happy !!!"</span>
	</div>

	<div id="Contact" class="contact">
		<h1><b>Contact Us</b></h1>

<table>
  <tr>
    <td>Saurabh Kumar</td>
    <td>
<img src="/icons/mobile.png" width="30px" height="30px">
    +91-9882925402</td>
    <td>
<img src="/icons/email2.png" width="20px" height="20px">

    saurabh.k0402@gmail.com</td>
  </tr>
  <tr>
    <td>Pavan Bansal</td>
    <td>
<img src="/icons/mobile.png" width="30px" height="30px">
    +91-9882550794</td>
    <td>
<img src="/icons/email2.png" width="20px" height="20px">

    bansal.pavan92@gmail.com</td>
  </tr>
  <tr>
    <td>
     Sukhbir Singh</td>
    <td>
    <img src="/icons/mobile.png" width="30px" height="30px">
    +91-9882546092</td>
    <td>
<img src="/icons/email2.png" width="20px" height="20px">

    sukhbir947@gmail.com</td>
  </tr>
  <tr>
    <td>Bimalkant Lauhny</td>
    <td>
    <img src="/icons/mobile.png" width="30px" height="30px">
    +91-9882548765</td>
    <td>
<img src="/icons/email2.png" width="20px" height="20px">

    lauhny.bimalk@gmail.com</td>
  </tr>
  
</table>
	</div>

	<script src = "/js/main.js"></script>

</body>

</html>