@font-face {
   font-family: myFont;
   src: url(myFont.ttf);
   font-weight: bold;
}
@font-face {
   font-family: 'Glyphicons Halflings';
   src: url('/fonts/glyphi.ttf');
}

body{
	font-family: myFont;
}


.nav{
	z-index: 8 !important;
}
.navbar-inverse {
    background-color: RGBA(34, 34, 34, 0.07);
    border-color: RGBA(216, 177, 177, 0.16);
}



.navbar-brand{
	border-right: 1px solid #AEAEAE;
	border-left: 1px solid #AEAEAE;
	font-weight: bold;
	font-size: 1.5em;
}

.navbar-brand:hover{
	background-color:#AEAEAE !important;
	color: #aaa !important;
}
.navbar-nav a{
	border-left: 1px solid #AEAEAE;
	font-size: 1.5em;
}
.navbar-nav a:hover{
	background-color:#AEAEAE !important;
	color: #fff !important;
}
.intro{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	background: url("hd-fitness-wallpaper-5-background-wallpaper.jpg") no-repeat center center fixed;
	background-size: cover;
	height: 855px;
}
.bg-overlay{
	background: rgba(0,0,0, 0.07);
	height: 855px;
}
.intro-message{
	padding-top: 20%;
	padding-bottom: 20%;
}
.intro-message > h1{
	font-size: 6em;
	font-family: myFont;
	font-weight: bold;
	color: #fff;
	letter-spacing: 6px;
	
}
.intro-message > h3{
	font-size: 2em;
	letter-spacing: 2px;
	font-family: Tangerine;
	color: #FDFDFD;
	padding-bottom: 5%;
	border-bottom: 3px solid #f8f8f8;
}
.intro-message > ul{
	margin-top: 50px;
}
.intro-message > ul > li > a{
	padding: 10px;
}
@media(max-width: 767px){
	.intro-message > h1{
		font-size: 3em;
	}
	.intro-message > h3{
		font-size: 1.5em;
		font-family: Tangerine;
	}
	.intro-message > ul{
		margin-top: 40px;
	}
	.intro-message > ul > li{
		display: block;
		margin-bottom: 30px;
	}
}
.btn {
	display: inline-block;
	letter-spacing: 2px;
	color: #000000;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(2, 2, 2, 20);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
	transition: 0.3s;
}
.btn:hover {
	background-color: #286090;
	border: 5px solid #AEAEAE;
	display: inline-block;
	letter-spacing: 3px;
	color: #000000;
	font-weight: bold;
	font-size: 2em;
}

.personal {
	height: 855px;
	background: url("http://p1.pichost.me/i/45/1686464.jpg") no-repeat center center fixed;
	background-size: cover;
}
#about-content{
	padding: 50px 0 50px 0;
}
#about-content > h1 {
	font-size: 4em;
	font-family: Tangerine;
	font-weight: bold;
	color: #007FFF;
	letter-spacing: 2px;
	text-shadow: 3px 3px 3px #FECC01;
}

#about-content > p{
	font-size: 2em;
	color: #AEAEAE;
	letter-spacing: 1px;
}

#dark {
	position: fixed;
    width: 100%;
    height: 100%;
    background: RGBA(0, 0, 0, 0.71);
    z-index: 20;
    visibility: hidden;
}

.close{
	position: relative;
	float: right;
	padding: 0;
}
#loginPop {
	font-family: myFont;
	width: 60%;
	margin: 10% 20%;
	height: 60%;
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	z-index: 40;
	position: fixed;
	display: none;
}

#signUpPop {
	font-family: myFont;
	width: 60%;
	margin: 10% 20%;
	height: 60%;
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	z-index: 40;
	position: fixed;
	display: none;
}

.Form{
	margin: 10%;
}

.alignment{
	float: right;
}
